body {
    margin: 0px;
    overflow: hidden;
    font-family: 'Inconsolata';
    font-size: 17px;
    /*cursor: none;*/
    background: url('../images/background.jpg');
    /*background-color:green;*/
    background-repeat: no-repeat;
    background-size: 100%;
}
.banner {
    position: absolute;
    /*width: 100%;*/
    margin-top: 20px;
}

.postauth {
  display: none;
  max-width: 300px;
}

.authlink, #standard-button, #cardboard-button {
    position: absolute;
    width: 100%;
    margin-top: 35%;
    text-align: center;
    z-index: 3;
}

#cardboard-button {
  margin-top: 40%;
}


.authstandard {
    display: block;
    position: relative;
    background-color: #222;
    opacity: 0.85;
    top: 50px;
    z-index: 3;
    /*width:60%;*/
    /*height: 100%!important;*/
    max-width: 300px;
    margin: 0 auto;
}

#threejs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#status {
  color: #000;
    position: absolute;
    width: 100%;
    margin-top: 55%;
    text-align: center;
}
